bit.VB10.RHEWA.Eichsoftware/EichsoftwareClient/Service References/EichsoftwareWebservice/EichsoftwareWebservice.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:12771/EichsoftwareWebservice.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EichsoftwareWebservice" />
  <xs:element name="PruefeLizenz">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Lizenzschluessel" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PruefeLizenzResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PruefeLizenzResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AktiviereLizenz">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Lizenzschluessel" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AktiviereLizenzResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AktiviereLizenzResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PruefeObRHEWALizenz">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Lizenzschluessel" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PruefeObRHEWALizenzResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PruefeObRHEWALizenzResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNeueWZ">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Lizenzschluessel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LetztesUpdate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNeueWZResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EichsoftwareWebservice" minOccurs="0" name="GetNeueWZResult" nillable="true" type="q1:ArrayOfServerLookup_Waegezelle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNeuesAWG">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Lizenzschluessel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LetztesUpdate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNeuesAWGResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EichsoftwareWebservice" minOccurs="0" name="GetNeuesAWGResult" nillable="true" type="q2:ArrayOfServerLookup_Auswertegeraet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEichmarkenverwaltung">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Lizenzschluessel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BenutzerFK" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AnzahlBenannteStelle" type="xs:int" />
        <xs:element minOccurs="0" name="AnzahlEichsiegel13x13" type="xs:int" />
        <xs:element minOccurs="0" name="AnzahlEichsiegelRund" type="xs:int" />
        <xs:element minOccurs="0" name="AnzahlHinweismarke" type="xs:int" />
        <xs:element minOccurs="0" name="AnzahlGruenesM" type="xs:int" />
        <xs:element minOccurs="0" name="AnzahlCE" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEichmarkenverwaltungResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddEichmarkenverwaltungResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEichprozess">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Lizenzschluessel" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EichsoftwareWebservice" minOccurs="0" name="pObjEichprozess" nillable="true" type="q3:ServerEichprozess" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEichprozessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddEichprozessResult" type="xs:boolean" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EichsoftwareWebservice" minOccurs="0" name="pObjEichprozess" nillable="true" type="q4:ServerEichprozess" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlleEichprozesse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Lizenzschluessel" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlleEichprozesseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EichsoftwareWebservice" minOccurs="0" name="GetAlleEichprozesseResult" nillable="true" type="q5:ArrayOfclsEichprozessFuerAuswahlliste" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEichProzess">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Lizenzschluessel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Vorgangsnummer" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEichProzessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/EichsoftwareWebservice" minOccurs="0" name="GetEichProzessResult" nillable="true" type="q6:ServerEichprozess" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetEichprozessUngueltig">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Lizenzschluessel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetEichprozessUngueltigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetEichprozessUngueltigResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetEichprozessGenehmight">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Lizenzschluessel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetEichprozessGenehmightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetEichprozessGenehmightResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckGueltigkeitEichprozess">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Lizenzschluessel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Vorgangsnummer" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckGueltigkeitEichprozessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckGueltigkeitEichprozessResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>