EichsoftwareClient/Service References/EichsoftwareWebservice/EichsoftwareWebservice1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EichsoftwareWebservice" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EichsoftwareWebservice" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="clsLizenzdaten">
    <xs:sequence>
      <xs:element minOccurs="0" name="BenutzerID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Firma" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirmaOrt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirmaPLZ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirmaStrasse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Vorname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsLizenzdaten" nillable="true" type="tns:clsLizenzdaten" />
  <xs:complexType name="ArrayOfServerLookup_Waegezelle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServerLookup_Waegezelle" nillable="true" type="tns:ServerLookup_Waegezelle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServerLookup_Waegezelle" nillable="true" type="tns:ArrayOfServerLookup_Waegezelle" />
  <xs:complexType name="ServerLookup_Waegezelle">
    <xs:sequence>
      <xs:element name="_Bauartzulassung" nillable="true" type="xs:string" />
      <xs:element name="_BruchteilEichfehlergrenze" nillable="true" type="xs:string" />
      <xs:element name="_Deaktiviert" type="xs:boolean" />
      <xs:element name="_ErstellDatum" nillable="true" type="xs:dateTime" />
      <xs:element name="_Genauigkeitsklasse" nillable="true" type="xs:string" />
      <xs:element name="_GrenzwertTemperaturbereichMAX" nillable="true" type="xs:string" />
      <xs:element name="_GrenzwertTemperaturbereichMIN" nillable="true" type="xs:string" />
      <xs:element name="_Hersteller" nillable="true" type="xs:string" />
      <xs:element name="_Hoechsteteilungsfaktor" nillable="true" type="xs:string" />
      <xs:element name="_ID" nillable="true" type="xs:string" />
      <xs:element name="_Kriechteilungsfaktor" nillable="true" type="xs:string" />
      <xs:element name="_MaxAnzahlTeilungswerte" nillable="true" type="xs:string" />
      <xs:element name="_MinTeilungswert" nillable="true" type="xs:string" />
      <xs:element name="_Mindestvorlast" nillable="true" type="xs:string" />
      <xs:element name="_Neu" type="xs:boolean" />
      <xs:element name="_Pruefbericht" nillable="true" type="xs:string" />
      <xs:element name="_Revisionsnummer" nillable="true" type="xs:string" />
      <xs:element name="_RueckkehrVorlastsignal" nillable="true" type="xs:string" />
      <xs:element name="_ServerEichprozess" nillable="true" type="tns:ArrayOfServerEichprozess" />
      <xs:element name="_ServerMogelstatistik" nillable="true" type="tns:ArrayOfServerMogelstatistik" />
      <xs:element name="_Typ" nillable="true" type="xs:string" />
      <xs:element name="_Waegezellenkennwert" nillable="true" type="xs:string" />
      <xs:element name="_WiderstandWaegezelle" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerLookup_Waegezelle" nillable="true" type="tns:ServerLookup_Waegezelle" />
  <xs:complexType name="ArrayOfServerEichprozess">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServerEichprozess" nillable="true" type="tns:ServerEichprozess" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServerEichprozess" nillable="true" type="tns:ArrayOfServerEichprozess" />
  <xs:complexType name="ServerEichprozess">
    <xs:sequence>
      <xs:element name="_Ausgeblendet" type="xs:boolean" />
      <xs:element name="_BearbeitungsDatum" nillable="true" type="xs:dateTime" />
      <xs:element name="_ErzeugerLizenz" nillable="true" type="xs:string" />
      <xs:element name="_FK_Auswertegeraet" nillable="true" type="xs:string" />
      <xs:element name="_FK_Bearbeitungsstatus" nillable="true" type="xs:unsignedByte" />
      <xs:element name="_FK_Beschaffenheitspruefung" nillable="true" type="xs:int" />
      <xs:element name="_FK_Eichprotokoll" nillable="true" type="xs:int" />
      <xs:element name="_FK_Kompatibilitaetsnachweis" nillable="true" type="xs:int" />
      <xs:element name="_FK_Vorgangsstatus" type="xs:unsignedByte" />
      <xs:element name="_FK_WaagenArt" nillable="true" type="xs:unsignedByte" />
      <xs:element name="_FK_WaagenTyp" nillable="true" type="xs:unsignedByte" />
      <xs:element name="_FK_Waegezelle" nillable="true" type="xs:string" />
      <xs:element name="_ID" type="xs:int" />
      <xs:element name="_ServerBeschaffenheitspruefung" nillable="true" type="tns:ServerBeschaffenheitspruefung" />
      <xs:element name="_ServerEichprotokoll" nillable="true" type="tns:ServerEichprotokoll" />
      <xs:element name="_ServerKompatiblitaetsnachweis" nillable="true" type="tns:ServerKompatiblitaetsnachweis" />
      <xs:element name="_ServerLookup_Auswertegeraet" nillable="true" type="tns:ServerLookup_Auswertegeraet" />
      <xs:element name="_ServerLookup_Bearbeitungsstatus" nillable="true" type="tns:ServerLookup_Bearbeitungsstatus" />
      <xs:element name="_ServerLookup_Vorgangsstatus" nillable="true" type="tns:ServerLookup_Vorgangsstatus" />
      <xs:element name="_ServerLookup_Waagenart" nillable="true" type="tns:ServerLookup_Waagenart" />
      <xs:element name="_ServerLookup_Waagentyp" nillable="true" type="tns:ServerLookup_Waagentyp" />
      <xs:element name="_ServerLookup_Waegezelle" nillable="true" type="tns:ServerLookup_Waegezelle" />
      <xs:element name="_ServerMogelstatistik" nillable="true" type="tns:ArrayOfServerMogelstatistik" />
      <xs:element name="_UploadDatum" nillable="true" type="xs:dateTime" />
      <xs:element name="_UploadFilePath" nillable="true" type="xs:string" />
      <xs:element name="_Vorgangsnummer" nillable="true" type="xs:string" />
      <xs:element name="_ZurBearbeitungGesperrtDurch" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerEichprozess" nillable="true" type="tns:ServerEichprozess" />
  <xs:complexType name="ServerBeschaffenheitspruefung">
    <xs:sequence>
      <xs:element minOccurs="0" name="AWG_Auslieferungszustand" type="xs:boolean" />
      <xs:element minOccurs="0" name="AWG_KabelUnbeschaedigt" type="xs:boolean" />
      <xs:element minOccurs="0" name="AWG_MetrologischeAngabenVorhanden" type="xs:boolean" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ServerEichprozess" nillable="true" type="tns:ArrayOfServerEichprozess" />
      <xs:element minOccurs="0" name="Verbindungselemente_DichtigkeitGegeben" type="xs:boolean" />
      <xs:element minOccurs="0" name="Verbindungselemente_KabelNichtSproede" type="xs:boolean" />
      <xs:element minOccurs="0" name="Verbindungselemente_KabelTemperaturGeschuetzt" type="xs:boolean" />
      <xs:element minOccurs="0" name="Verbindungselemente_KabelUnbeschaedigt" type="xs:boolean" />
      <xs:element minOccurs="0" name="WZ_AnschraubplattenEben" type="xs:boolean" />
      <xs:element minOccurs="0" name="WZ_KabelUnbeschaedigt" type="xs:boolean" />
      <xs:element minOccurs="0" name="WZ_KrafteinteilungKonformWELMEC" type="xs:boolean" />
      <xs:element minOccurs="0" name="WZ_VergussUnbeschaedigt" type="xs:boolean" />
      <xs:element minOccurs="0" name="WZ_ZulassungOIMLR60" type="xs:boolean" />
      <xs:element minOccurs="0" name="Waegebruecke_Korrosionsfrei" type="xs:boolean" />
      <xs:element minOccurs="0" name="Waegebruecke_WZAufnahmenInEbene" type="xs:boolean" />
      <xs:element minOccurs="0" name="Waegebruecke_WiegeaufgabeAusgelegt" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerBeschaffenheitspruefung" nillable="true" type="tns:ServerBeschaffenheitspruefung" />
  <xs:complexType name="ServerEichprotokoll">
    <xs:sequence>
      <xs:element minOccurs="0" name="Beschaffenheitspruefung_AnzeigenAbdruckeInOrdnung" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Beschaffenheitspruefung_AufschriftenKennzeichnungenInOrdnung" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Beschaffenheitspruefung_AufstellungsbedingungenInOrdnung" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Beschaffenheitspruefung_EichfahrzeugFirma" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Beschaffenheitspruefung_Genauigkeitsklasse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Beschaffenheitspruefung_KompatibilitaetsnachweisVorhanden" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Beschaffenheitspruefung_LetztePruefung" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Beschaffenheitspruefung_MesstechnischeMerkmaleInOrdnung" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Beschaffenheitspruefung_Pruefintervall" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Beschaffenheitspruefung_Pruefscheinnummer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Beschaffenheitspruefung_ZulassungsunterlagenInLesbarerFassung" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="EignungAchlastwaegungen_Geprueft" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="EignungAchlastwaegungen_WaageNichtGeeignet" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="EignungAchlastwaegungen_WaagenbrueckeEbene" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="FK_Identifikationsdaten_Konformitaetsbewertungsverfahren" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="Fallbeschleunigung_g" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fallbeschleunigung_ms2" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="GenauigkeitNullstellung_InOrdnung" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Identifikationsdaten_Aufstellungsort" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Identifikationsdaten_Baujahr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Identifikationsdaten_Benutzer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Identifikationsdaten_Datum" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Identifikationsdaten_HybridMechanisch" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Identifikationsdaten_Min1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Identifikationsdaten_Min2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Identifikationsdaten_Min3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Identifikationsdaten_NichtSelbsteinspielend" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Identifikationsdaten_Pruefer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Identifikationsdaten_Selbsteinspielend" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Komponenten_Eichzaehlerstand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Komponenten_Softwarestand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Komponenten_WaegezellenFabriknummer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pruefverfahren_BetragNormallast" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pruefverfahren_VolleNormallast" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Pruefverfahren_VollstaendigesStaffelverfahren" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ServerEichprozess" nillable="true" type="tns:ArrayOfServerEichprozess" />
      <xs:element minOccurs="0" name="ServerLookup_Konformitaetsbewertungsverfahren" nillable="true" type="tns:ServerLookup_Konformitaetsbewertungsverfahren" />
      <xs:element minOccurs="0" name="ServerPruefungAnsprechvermoegen" nillable="true" type="tns:ArrayOfServerPruefungAnsprechvermoegen" />
      <xs:element minOccurs="0" name="ServerPruefungAussermittigeBelastung" nillable="true" type="tns:ArrayOfServerPruefungAussermittigeBelastung" />
      <xs:element minOccurs="0" name="ServerPruefungEichfehlergrenzen" nillable="true" type="tns:ArrayOfServerPruefungEichfehlergrenzen" />
      <xs:element minOccurs="0" name="ServerPruefungLinearitaetFallend" nillable="true" type="tns:ArrayOfServerPruefungLinearitaetFallend" />
      <xs:element minOccurs="0" name="ServerPruefungLinearitaetSteigend" nillable="true" type="tns:ArrayOfServerPruefungLinearitaetSteigend" />
      <xs:element minOccurs="0" name="ServerPruefungRollendeLasten" nillable="true" type="tns:ArrayOfServerPruefungRollendeLasten" />
      <xs:element minOccurs="0" name="ServerPruefungStabilitaetGleichgewichtslage" nillable="true" type="tns:ArrayOfServerPruefungStabilitaetGleichgewichtslage" />
      <xs:element minOccurs="0" name="ServerPruefungStaffelverfahrenErsatzlast" nillable="true" type="tns:ArrayOfServerPruefungStaffelverfahrenErsatzlast" />
      <xs:element minOccurs="0" name="ServerPruefungStaffelverfahrenNormallast" nillable="true" type="tns:ArrayOfServerPruefungStaffelverfahrenNormallast" />
      <xs:element minOccurs="0" name="ServerPruefungWiederholbarkeit" nillable="true" type="tns:ArrayOfServerPruefungWiederholbarkeit" />
      <xs:element minOccurs="0" name="Sicherung_AlibispeicherAufbewahrungsdauerReduziert" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Sicherung_AlibispeicherAufbewahrungsdauerReduziertBegruendung" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sicherung_AlibispeicherEingerichtet" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Sicherung_Bemerkungen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sicherung_BenannteStelle" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Sicherung_BenannteStelleAnzahl" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="Sicherung_CE" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Sicherung_CEAnzahl" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="Sicherung_DatenAusgelesen" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Sicherung_Eichsiegel13x13" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Sicherung_Eichsiegel13x13Anzahl" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="Sicherung_EichsiegelRund" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Sicherung_EichsiegelRundAnzahl" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="Sicherung_GruenesM" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Sicherung_GruenesMAnzahl" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="Sicherung_HinweismarkeGelocht" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Sicherung_HinweismarkeGelochtAnzahl" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="Taraeinrichtung_ErweiterteRichtigkeitspruefungOK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Taraeinrichtung_GenauigkeitTarierungOK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Taraeinrichtung_TaraausgleichseinrichtungOK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ueberlastanzeige_Max" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ueberlastanzeige_Ueberlast" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Verwendungszweck_AutoTara" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Verwendungszweck_Automatisch" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Verwendungszweck_Drucker" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Verwendungszweck_Druckertyp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Verwendungszweck_EichfaehigerDatenspeicher" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Verwendungszweck_Fahrzeugwaagen_Dimension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Verwendungszweck_Fahrzeugwaagen_MxM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Verwendungszweck_HalbAutomatisch" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Verwendungszweck_HandTara" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Verwendungszweck_Nullnachfuehrung" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Verwendungszweck_PC" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Verwendungszweck_ZubehoerVerschiedenes" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Wiederholbarkeit_Staffelverfahren_MINNormalien" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerEichprotokoll" nillable="true" type="tns:ServerEichprotokoll" />
  <xs:complexType name="ServerLookup_Konformitaetsbewertungsverfahren">
    <xs:sequence>
      <xs:element name="_ID" type="xs:unsignedByte" />
      <xs:element name="_ServerEichprotokoll" nillable="true" type="tns:ArrayOfServerEichprotokoll" />
      <xs:element name="_Verfahren" nillable="true" type="xs:string" />
      <xs:element name="_Verfahren_EN" nillable="true" type="xs:string" />
      <xs:element name="_Verfahren_PL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerLookup_Konformitaetsbewertungsverfahren" nillable="true" type="tns:ServerLookup_Konformitaetsbewertungsverfahren" />
  <xs:complexType name="ArrayOfServerEichprotokoll">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServerEichprotokoll" nillable="true" type="tns:ServerEichprotokoll" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServerEichprotokoll" nillable="true" type="tns:ArrayOfServerEichprotokoll" />
  <xs:complexType name="ArrayOfServerPruefungAnsprechvermoegen">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServerPruefungAnsprechvermoegen" nillable="true" type="tns:ServerPruefungAnsprechvermoegen" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServerPruefungAnsprechvermoegen" nillable="true" type="tns:ArrayOfServerPruefungAnsprechvermoegen" />
  <xs:complexType name="ServerPruefungAnsprechvermoegen">
    <xs:sequence>
      <xs:element name="_Anzeige" nillable="true" type="xs:string" />
      <xs:element name="_FK_Eichprotokoll" type="xs:int" />
      <xs:element name="_ID" type="xs:int" />
      <xs:element name="_Last" nillable="true" type="xs:string" />
      <xs:element name="_Last1d" nillable="true" type="xs:string" />
      <xs:element name="_LastL" nillable="true" type="xs:string" />
      <xs:element name="_ServerEichprotokoll" nillable="true" type="tns:ServerEichprotokoll" />
      <xs:element name="_Ziffernsprung" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerPruefungAnsprechvermoegen" nillable="true" type="tns:ServerPruefungAnsprechvermoegen" />
  <xs:complexType name="ArrayOfServerPruefungAussermittigeBelastung">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServerPruefungAussermittigeBelastung" nillable="true" type="tns:ServerPruefungAussermittigeBelastung" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServerPruefungAussermittigeBelastung" nillable="true" type="tns:ArrayOfServerPruefungAussermittigeBelastung" />
  <xs:complexType name="ServerPruefungAussermittigeBelastung">
    <xs:sequence>
      <xs:element name="_Anzeige" nillable="true" type="xs:string" />
      <xs:element name="_Belastungsort" nillable="true" type="xs:string" />
      <xs:element name="_Bereich" type="xs:unsignedByte" />
      <xs:element name="_EFG" type="xs:boolean" />
      <xs:element name="_EFGExtra" nillable="true" type="xs:string" />
      <xs:element name="_FK_Eichprotokoll" type="xs:int" />
      <xs:element name="_Fehler" nillable="true" type="xs:string" />
      <xs:element name="_ID" type="xs:int" />
      <xs:element name="_Last" nillable="true" type="xs:string" />
      <xs:element name="_ServerEichprotokoll" nillable="true" type="tns:ServerEichprotokoll" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerPruefungAussermittigeBelastung" nillable="true" type="tns:ServerPruefungAussermittigeBelastung" />
  <xs:complexType name="ArrayOfServerPruefungEichfehlergrenzen">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServerPruefungEichfehlergrenzen" nillable="true" type="tns:ServerPruefungEichfehlergrenzen" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServerPruefungEichfehlergrenzen" nillable="true" type="tns:ArrayOfServerPruefungEichfehlergrenzen" />
  <xs:complexType name="ServerPruefungEichfehlergrenzen">
    <xs:sequence>
      <xs:element name="_Bis" nillable="true" type="xs:string" />
      <xs:element name="_EFG" nillable="true" type="xs:string" />
      <xs:element name="_Elemente" nillable="true" type="xs:string" />
      <xs:element name="_FK_Eichprotokoll" type="xs:int" />
      <xs:element name="_ID" type="xs:int" />
      <xs:element name="_Messbereich" type="xs:unsignedByte" />
      <xs:element name="_ServerEichprotokoll" nillable="true" type="tns:ServerEichprotokoll" />
      <xs:element name="_VFG" nillable="true" type="xs:string" />
      <xs:element name="_Von" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerPruefungEichfehlergrenzen" nillable="true" type="tns:ServerPruefungEichfehlergrenzen" />
  <xs:complexType name="ArrayOfServerPruefungLinearitaetFallend">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServerPruefungLinearitaetFallend" nillable="true" type="tns:ServerPruefungLinearitaetFallend" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServerPruefungLinearitaetFallend" nillable="true" type="tns:ArrayOfServerPruefungLinearitaetFallend" />
  <xs:complexType name="ServerPruefungLinearitaetFallend">
    <xs:sequence>
      <xs:element name="_Anzeige" nillable="true" type="xs:string" />
      <xs:element name="_Bereich" type="xs:unsignedByte" />
      <xs:element name="_EFG" nillable="true" type="xs:string" />
      <xs:element name="_FK_Eichprotokoll" type="xs:int" />
      <xs:element name="_Fehler" nillable="true" type="xs:string" />
      <xs:element name="_ID" type="xs:int" />
      <xs:element name="_Last" nillable="true" type="xs:string" />
      <xs:element name="_Messpunkt" nillable="true" type="xs:string" />
      <xs:element name="_ServerEichprotokoll" nillable="true" type="tns:ServerEichprotokoll" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerPruefungLinearitaetFallend" nillable="true" type="tns:ServerPruefungLinearitaetFallend" />
  <xs:complexType name="ArrayOfServerPruefungLinearitaetSteigend">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServerPruefungLinearitaetSteigend" nillable="true" type="tns:ServerPruefungLinearitaetSteigend" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServerPruefungLinearitaetSteigend" nillable="true" type="tns:ArrayOfServerPruefungLinearitaetSteigend" />
  <xs:complexType name="ServerPruefungLinearitaetSteigend">
    <xs:sequence>
      <xs:element name="_Anzeige" nillable="true" type="xs:string" />
      <xs:element name="_Bereich" type="xs:unsignedByte" />
      <xs:element name="_EFG" nillable="true" type="xs:string" />
      <xs:element name="_FK_Eichprotokoll" type="xs:int" />
      <xs:element name="_Fehler" nillable="true" type="xs:string" />
      <xs:element name="_ID" type="xs:int" />
      <xs:element name="_Last" nillable="true" type="xs:string" />
      <xs:element name="_Messpunkt" nillable="true" type="xs:string" />
      <xs:element name="_ServerEichprotokoll" nillable="true" type="tns:ServerEichprotokoll" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerPruefungLinearitaetSteigend" nillable="true" type="tns:ServerPruefungLinearitaetSteigend" />
  <xs:complexType name="ArrayOfServerPruefungRollendeLasten">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServerPruefungRollendeLasten" nillable="true" type="tns:ServerPruefungRollendeLasten" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServerPruefungRollendeLasten" nillable="true" type="tns:ArrayOfServerPruefungRollendeLasten" />
  <xs:complexType name="ServerPruefungRollendeLasten">
    <xs:sequence>
      <xs:element name="_Anzeige" nillable="true" type="xs:string" />
      <xs:element name="_AuffahrtSeite" nillable="true" type="xs:string" />
      <xs:element name="_Belastungsstelle" type="xs:unsignedByte" />
      <xs:element name="_EFG" nillable="true" type="xs:string" />
      <xs:element name="_EFGExtra" nillable="true" type="xs:string" />
      <xs:element name="_FK_Eichprotokoll" type="xs:int" />
      <xs:element name="_Fehler" nillable="true" type="xs:string" />
      <xs:element name="_ID" type="xs:int" />
      <xs:element name="_Last" nillable="true" type="xs:string" />
      <xs:element name="_ServerEichprotokoll" nillable="true" type="tns:ServerEichprotokoll" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerPruefungRollendeLasten" nillable="true" type="tns:ServerPruefungRollendeLasten" />
  <xs:complexType name="ArrayOfServerPruefungStabilitaetGleichgewichtslage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServerPruefungStabilitaetGleichgewichtslage" nillable="true" type="tns:ServerPruefungStabilitaetGleichgewichtslage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServerPruefungStabilitaetGleichgewichtslage" nillable="true" type="tns:ArrayOfServerPruefungStabilitaetGleichgewichtslage" />
  <xs:complexType name="ServerPruefungStabilitaetGleichgewichtslage">
    <xs:sequence>
      <xs:element name="_AbdruckOK" type="xs:boolean" />
      <xs:element name="_Anzeige" nillable="true" type="xs:string" />
      <xs:element name="_Durchlauf" type="xs:unsignedByte" />
      <xs:element name="_FK_Eichprotokoll" type="xs:int" />
      <xs:element name="_ID" type="xs:int" />
      <xs:element name="_Last" nillable="true" type="xs:string" />
      <xs:element name="_MAX" nillable="true" type="xs:string" />
      <xs:element name="_MIN" nillable="true" type="xs:string" />
      <xs:element name="_ServerEichprotokoll" nillable="true" type="tns:ServerEichprotokoll" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerPruefungStabilitaetGleichgewichtslage" nillable="true" type="tns:ServerPruefungStabilitaetGleichgewichtslage" />
  <xs:complexType name="ArrayOfServerPruefungStaffelverfahrenErsatzlast">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServerPruefungStaffelverfahrenErsatzlast" nillable="true" type="tns:ServerPruefungStaffelverfahrenErsatzlast" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServerPruefungStaffelverfahrenErsatzlast" nillable="true" type="tns:ArrayOfServerPruefungStaffelverfahrenErsatzlast" />
  <xs:complexType name="ServerPruefungStaffelverfahrenErsatzlast">
    <xs:sequence>
      <xs:element name="_Bereich" type="xs:unsignedByte" />
      <xs:element name="_DifferenzAnzeigewerte_EFG" nillable="true" type="xs:string" />
      <xs:element name="_DifferenzAnzeigewerte_Fehler" nillable="true" type="xs:string" />
      <xs:element name="_ErsatzUndNormallast_Ist" nillable="true" type="xs:string" />
      <xs:element name="_ErsatzUndNormallast_Soll" nillable="true" type="xs:string" />
      <xs:element name="_Ersatzlast2_Ist" nillable="true" type="xs:string" />
      <xs:element name="_Ersatzlast2_Soll" nillable="true" type="xs:string" />
      <xs:element name="_Ersatzlast_Ist" nillable="true" type="xs:string" />
      <xs:element name="_Ersatzlast_Soll" nillable="true" type="xs:string" />
      <xs:element name="_FK_Eichprotokoll" type="xs:int" />
      <xs:element name="_ID" type="xs:int" />
      <xs:element name="_MessabweichungStaffel_EFG" nillable="true" type="xs:string" />
      <xs:element name="_MessabweichungStaffel_Fehler" nillable="true" type="xs:string" />
      <xs:element name="_MessabweichungWaage_EFG" nillable="true" type="xs:string" />
      <xs:element name="_MessabweichungWaage_Fehler" nillable="true" type="xs:string" />
      <xs:element name="_ServerEichprotokoll" nillable="true" type="tns:ServerEichprotokoll" />
      <xs:element name="_Staffel" type="xs:unsignedByte" />
      <xs:element name="_ZusaetzlicheErsatzlast_Soll" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerPruefungStaffelverfahrenErsatzlast" nillable="true" type="tns:ServerPruefungStaffelverfahrenErsatzlast" />
  <xs:complexType name="ArrayOfServerPruefungStaffelverfahrenNormallast">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServerPruefungStaffelverfahrenNormallast" nillable="true" type="tns:ServerPruefungStaffelverfahrenNormallast" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServerPruefungStaffelverfahrenNormallast" nillable="true" type="tns:ArrayOfServerPruefungStaffelverfahrenNormallast" />
  <xs:complexType name="ServerPruefungStaffelverfahrenNormallast">
    <xs:sequence>
      <xs:element name="_Bereich" type="xs:unsignedByte" />
      <xs:element name="_DifferenzAnzeigewerte_EFG" nillable="true" type="xs:string" />
      <xs:element name="_DifferenzAnzeigewerte_Fehler" nillable="true" type="xs:string" />
      <xs:element name="_FK_Eichprotokoll" type="xs:int" />
      <xs:element name="_ID" type="xs:int" />
      <xs:element name="_MessabweichungStaffel_EFG" nillable="true" type="xs:string" />
      <xs:element name="_MessabweichungStaffel_Fehler" nillable="true" type="xs:string" />
      <xs:element name="_MessabweichungWaage_EFG" nillable="true" type="xs:string" />
      <xs:element name="_MessabweichungWaage_Fehler" nillable="true" type="xs:string" />
      <xs:element name="_NormalLast_Anzeige_1" nillable="true" type="xs:string" />
      <xs:element name="_NormalLast_Anzeige_2" nillable="true" type="xs:string" />
      <xs:element name="_NormalLast_Anzeige_3" nillable="true" type="xs:string" />
      <xs:element name="_NormalLast_Anzeige_4" nillable="true" type="xs:string" />
      <xs:element name="_NormalLast_EFG_1" nillable="true" type="xs:string" />
      <xs:element name="_NormalLast_EFG_2" nillable="true" type="xs:string" />
      <xs:element name="_NormalLast_EFG_3" nillable="true" type="xs:string" />
      <xs:element name="_NormalLast_EFG_4" nillable="true" type="xs:string" />
      <xs:element name="_NormalLast_Fehler_1" nillable="true" type="xs:string" />
      <xs:element name="_NormalLast_Fehler_2" nillable="true" type="xs:string" />
      <xs:element name="_NormalLast_Fehler_3" nillable="true" type="xs:string" />
      <xs:element name="_NormalLast_Fehler_4" nillable="true" type="xs:string" />
      <xs:element name="_NormalLast_Last_1" nillable="true" type="xs:string" />
      <xs:element name="_NormalLast_Last_2" nillable="true" type="xs:string" />
      <xs:element name="_NormalLast_Last_3" nillable="true" type="xs:string" />
      <xs:element name="_NormalLast_Last_4" nillable="true" type="xs:string" />
      <xs:element name="_ServerEichprotokoll" nillable="true" type="tns:ServerEichprotokoll" />
      <xs:element name="_Staffel" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerPruefungStaffelverfahrenNormallast" nillable="true" type="tns:ServerPruefungStaffelverfahrenNormallast" />
  <xs:complexType name="ArrayOfServerPruefungWiederholbarkeit">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServerPruefungWiederholbarkeit" nillable="true" type="tns:ServerPruefungWiederholbarkeit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServerPruefungWiederholbarkeit" nillable="true" type="tns:ArrayOfServerPruefungWiederholbarkeit" />
  <xs:complexType name="ServerPruefungWiederholbarkeit">
    <xs:sequence>
      <xs:element name="_Anzeige" nillable="true" type="xs:string" />
      <xs:element name="_Belastung" nillable="true" type="xs:string" />
      <xs:element name="_EFG" nillable="true" type="xs:string" />
      <xs:element name="_EFG_Extra" nillable="true" type="xs:string" />
      <xs:element name="_FK_Eichprotokoll" type="xs:int" />
      <xs:element name="_Fehler" nillable="true" type="xs:string" />
      <xs:element name="_ID" type="xs:int" />
      <xs:element name="_Last" nillable="true" type="xs:string" />
      <xs:element name="_ServerEichprotokoll" nillable="true" type="tns:ServerEichprotokoll" />
      <xs:element name="_Wiederholung" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerPruefungWiederholbarkeit" nillable="true" type="tns:ServerPruefungWiederholbarkeit" />
  <xs:complexType name="ServerKompatiblitaetsnachweis">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Kompatiblitaet_AWG_Anschlussart" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Kompatiblitaet_Hersteller" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Kompatiblitaet_Ort" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Kompatiblitaet_Postleitzahl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Kompatiblitaet_Strasse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Kompatiblitaet_Verbindungselemente_BruchteilEichfehlergrenze" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Kompatiblitaet_WZ_Hoechstlast" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Kompatiblitaet_Waage_AdditiveTarahoechstlast" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Kompatiblitaet_Waage_AnzahlWaegezellen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Kompatiblitaet_Waage_Bauartzulassung" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Kompatiblitaet_Waage_Ecklastzuschlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Kompatiblitaet_Waage_Eichwert1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Kompatiblitaet_Waage_Eichwert2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Kompatiblitaet_Waage_Eichwert3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Kompatiblitaet_Waage_Einschaltnullstellbereich" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Kompatiblitaet_Waage_FabrikNummer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Kompatiblitaet_Waage_Genauigkeitsklasse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Kompatiblitaet_Waage_GrenzenTemperaturbereichMAX" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Kompatiblitaet_Waage_GrenzenTemperaturbereichMIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Kompatiblitaet_Waage_Hoechstlast1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Kompatiblitaet_Waage_Hoechstlast2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Kompatiblitaet_Waage_Hoechstlast3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Kompatiblitaet_Waage_Kabellaenge" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Kompatiblitaet_Waage_Kabelquerschnitt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Kompatiblitaet_Waage_Revisionsnummer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Kompatiblitaet_Waage_Totlast" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Kompatiblitaet_Waage_Uebersetzungsverhaeltnis" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Kompatiblitaet_Waage_Zulassungsinhaber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServerEichprozess" nillable="true" type="tns:ArrayOfServerEichprozess" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerKompatiblitaetsnachweis" nillable="true" type="tns:ServerKompatiblitaetsnachweis" />
  <xs:complexType name="ServerLookup_Auswertegeraet">
    <xs:sequence>
      <xs:element name="_Bauartzulassung" nillable="true" type="xs:string" />
      <xs:element name="_BruchteilEichfehlergrenze" nillable="true" type="xs:string" />
      <xs:element name="_Deaktiviert" nillable="true" type="xs:boolean" />
      <xs:element name="_ErstellDatum" nillable="true" type="xs:dateTime" />
      <xs:element name="_Genauigkeitsklasse" nillable="true" type="xs:string" />
      <xs:element name="_GrenzwertLastwiderstandMAX" nillable="true" type="xs:string" />
      <xs:element name="_GrenzwertLastwiderstandMIN" nillable="true" type="xs:string" />
      <xs:element name="_GrenzwertTemperaturbereichMAX" nillable="true" type="xs:string" />
      <xs:element name="_GrenzwertTemperaturbereichMIN" nillable="true" type="xs:string" />
      <xs:element name="_Hersteller" nillable="true" type="xs:string" />
      <xs:element name="_ID" nillable="true" type="xs:string" />
      <xs:element name="_KabellaengeQuerschnitt" nillable="true" type="xs:string" />
      <xs:element name="_MAXAnzahlTeilungswerteEinbereichswaage" nillable="true" type="xs:string" />
      <xs:element name="_MAXAnzahlTeilungswerteMehrbereichswaage" nillable="true" type="xs:string" />
      <xs:element name="_Mindesteingangsspannung" nillable="true" type="xs:string" />
      <xs:element name="_Mindestmesssignal" nillable="true" type="xs:string" />
      <xs:element name="_Pruefbericht" nillable="true" type="xs:string" />
      <xs:element name="_ServerEichprozess" nillable="true" type="tns:ArrayOfServerEichprozess" />
      <xs:element name="_ServerMogelstatistik" nillable="true" type="tns:ArrayOfServerMogelstatistik" />
      <xs:element name="_Speisespannung" nillable="true" type="xs:string" />
      <xs:element name="_Typ" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerLookup_Auswertegeraet" nillable="true" type="tns:ServerLookup_Auswertegeraet" />
  <xs:complexType name="ArrayOfServerMogelstatistik">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServerMogelstatistik" nillable="true" type="tns:ServerMogelstatistik" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServerMogelstatistik" nillable="true" type="tns:ArrayOfServerMogelstatistik" />
  <xs:complexType name="ServerMogelstatistik">
    <xs:sequence>
      <xs:element name="_FK_Auswertegeraet" nillable="true" type="xs:string" />
      <xs:element name="_FK_Eichprozess" nillable="true" type="xs:int" />
      <xs:element name="_FK_Waegezelle" nillable="true" type="xs:string" />
      <xs:element name="_ID" type="xs:int" />
      <xs:element name="_Kompatiblitaet_AWG_Anschlussart" nillable="true" type="xs:string" />
      <xs:element name="_Kompatiblitaet_AnschriftWaagenbaufirma" nillable="true" type="xs:string" />
      <xs:element name="_Kompatiblitaet_Verbindungselemente_BruchteilEichfehlergrenze" nillable="true" type="xs:string" />
      <xs:element name="_Kompatiblitaet_WZ_Hoechstlast" nillable="true" type="xs:string" />
      <xs:element name="_Kompatiblitaet_Waage_AdditiveTarahoechstlast" nillable="true" type="xs:string" />
      <xs:element name="_Kompatiblitaet_Waage_AnzahlWaegezellen" nillable="true" type="xs:string" />
      <xs:element name="_Kompatiblitaet_Waage_Bauartzulassung" nillable="true" type="xs:string" />
      <xs:element name="_Kompatiblitaet_Waage_Ecklastzuschlag" nillable="true" type="xs:string" />
      <xs:element name="_Kompatiblitaet_Waage_Einschaltnullstellbereich" nillable="true" type="xs:string" />
      <xs:element name="_Kompatiblitaet_Waage_FabrikNummer" nillable="true" type="xs:string" />
      <xs:element name="_Kompatiblitaet_Waage_Genauigkeitsklasse" nillable="true" type="xs:string" />
      <xs:element name="_Kompatiblitaet_Waage_GrenzenTemperaturbereichMAX" nillable="true" type="xs:string" />
      <xs:element name="_Kompatiblitaet_Waage_GrenzenTemperaturbereichMIN" nillable="true" type="xs:string" />
      <xs:element name="_Kompatiblitaet_Waage_HoechstlastEichwertE_Bereich1" nillable="true" type="xs:string" />
      <xs:element name="_Kompatiblitaet_Waage_HoechstlastEichwertE_Bereich2" nillable="true" type="xs:string" />
      <xs:element name="_Kompatiblitaet_Waage_HoechstlastEichwertE_Bereich3" nillable="true" type="xs:string" />
      <xs:element name="_Kompatiblitaet_Waage_HoechstlastEichwertMax_Bereich1" nillable="true" type="xs:string" />
      <xs:element name="_Kompatiblitaet_Waage_HoechstlastEichwertMax_Bereich2" nillable="true" type="xs:string" />
      <xs:element name="_Kompatiblitaet_Waage_HoechstlastEichwertMax_Bereich3" nillable="true" type="xs:string" />
      <xs:element name="_Kompatiblitaet_Waage_Kabellaenge" nillable="true" type="xs:string" />
      <xs:element name="_Kompatiblitaet_Waage_Kabelquerschnitt" nillable="true" type="xs:string" />
      <xs:element name="_Kompatiblitaet_Waage_Revisionsnummer" nillable="true" type="xs:string" />
      <xs:element name="_Kompatiblitaet_Waage_Totlast" nillable="true" type="xs:string" />
      <xs:element name="_Kompatiblitaet_Waage_Uebersetzungsverhaeltnis" nillable="true" type="xs:string" />
      <xs:element name="_Kompatiblitaet_Waage_Zulassungsinhaber" nillable="true" type="xs:string" />
      <xs:element name="_ServerEichprozess" nillable="true" type="tns:ServerEichprozess" />
      <xs:element name="_ServerLookup_Auswertegeraet" nillable="true" type="tns:ServerLookup_Auswertegeraet" />
      <xs:element name="_ServerLookup_Waegezelle" nillable="true" type="tns:ServerLookup_Waegezelle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerMogelstatistik" nillable="true" type="tns:ServerMogelstatistik" />
  <xs:complexType name="ServerLookup_Bearbeitungsstatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="ServerEichprozess" nillable="true" type="tns:ArrayOfServerEichprozess" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status_EN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status_PL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerLookup_Bearbeitungsstatus" nillable="true" type="tns:ServerLookup_Bearbeitungsstatus" />
  <xs:complexType name="ServerLookup_Vorgangsstatus">
    <xs:sequence>
      <xs:element name="_ID" type="xs:unsignedByte" />
      <xs:element name="_ServerEichprozess" nillable="true" type="tns:ArrayOfServerEichprozess" />
      <xs:element name="_Status" nillable="true" type="xs:string" />
      <xs:element name="_Status_EN" nillable="true" type="xs:string" />
      <xs:element name="_Status_PL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerLookup_Vorgangsstatus" nillable="true" type="tns:ServerLookup_Vorgangsstatus" />
  <xs:complexType name="ServerLookup_Waagenart">
    <xs:sequence>
      <xs:element name="_Art" nillable="true" type="xs:string" />
      <xs:element name="_Art_EN" nillable="true" type="xs:string" />
      <xs:element name="_Art_PL" nillable="true" type="xs:string" />
      <xs:element name="_ID" type="xs:unsignedByte" />
      <xs:element name="_ServerEichprozess" nillable="true" type="tns:ArrayOfServerEichprozess" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerLookup_Waagenart" nillable="true" type="tns:ServerLookup_Waagenart" />
  <xs:complexType name="ServerLookup_Waagentyp">
    <xs:sequence>
      <xs:element name="_ID" type="xs:unsignedByte" />
      <xs:element name="_ServerEichprozess" nillable="true" type="tns:ArrayOfServerEichprozess" />
      <xs:element name="_Typ" nillable="true" type="xs:string" />
      <xs:element name="_Typ_EN" nillable="true" type="xs:string" />
      <xs:element name="_Typ_PL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerLookup_Waagentyp" nillable="true" type="tns:ServerLookup_Waagentyp" />
  <xs:complexType name="ArrayOfServerLookup_Auswertegeraet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServerLookup_Auswertegeraet" nillable="true" type="tns:ServerLookup_Auswertegeraet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServerLookup_Auswertegeraet" nillable="true" type="tns:ArrayOfServerLookup_Auswertegeraet" />
  <xs:complexType name="ArrayOfclsEichprozessFuerAuswahlliste">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsEichprozessFuerAuswahlliste" nillable="true" type="tns:clsEichprozessFuerAuswahlliste" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsEichprozessFuerAuswahlliste" nillable="true" type="tns:ArrayOfclsEichprozessFuerAuswahlliste" />
  <xs:complexType name="clsEichprozessFuerAuswahlliste">
    <xs:sequence>
      <xs:element minOccurs="0" name="AWG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AnhangPfad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bearbeitungsstatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Eichbevollmaechtigter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fabriknummer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GesperrtDurch" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NeueWZ" type="xs:boolean" />
      <xs:element minOccurs="0" name="Vorgangsnummer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WZ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Waagenart" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Waagentyp" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsEichprozessFuerAuswahlliste" nillable="true" type="tns:clsEichprozessFuerAuswahlliste" />
  <xs:complexType name="clsServerFTPDaten">
    <xs:sequence>
      <xs:element minOccurs="0" name="FTPEncryptedPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FTPSaltKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FTPServername" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FTPUserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsServerFTPDaten" nillable="true" type="tns:clsServerFTPDaten" />
</xs:schema>