EichsoftwareClient/Service References/EichsoftwareWebservice/EichsoftwareWebservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EichsoftwareWebservice" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://win7mobdev01.bitworkgmbh.local:12000/RhewaHerstellerersteichung/EichsoftwareWebservice.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://win7mobdev01.bitworkgmbh.local:12000/RhewaHerstellerersteichung/EichsoftwareWebservice.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://win7mobdev01.bitworkgmbh.local:12000/RhewaHerstellerersteichung/EichsoftwareWebservice.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EichsoftwareWebservice" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEichsoftwareWebservice_PruefeLizenz_InputMessage">
    <wsdl:part name="parameters" element="tns:PruefeLizenz" />
  </wsdl:message>
  <wsdl:message name="IEichsoftwareWebservice_PruefeLizenz_OutputMessage">
    <wsdl:part name="parameters" element="tns:PruefeLizenzResponse" />
  </wsdl:message>
  <wsdl:message name="IEichsoftwareWebservice_AktiviereLizenz_InputMessage">
    <wsdl:part name="parameters" element="tns:AktiviereLizenz" />
  </wsdl:message>
  <wsdl:message name="IEichsoftwareWebservice_AktiviereLizenz_OutputMessage">
    <wsdl:part name="parameters" element="tns:AktiviereLizenzResponse" />
  </wsdl:message>
  <wsdl:message name="IEichsoftwareWebservice_PruefeObRHEWALizenz_InputMessage">
    <wsdl:part name="parameters" element="tns:PruefeObRHEWALizenz" />
  </wsdl:message>
  <wsdl:message name="IEichsoftwareWebservice_PruefeObRHEWALizenz_OutputMessage">
    <wsdl:part name="parameters" element="tns:PruefeObRHEWALizenzResponse" />
  </wsdl:message>
  <wsdl:message name="IEichsoftwareWebservice_GetNeueWZ_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNeueWZ" />
  </wsdl:message>
  <wsdl:message name="IEichsoftwareWebservice_GetNeueWZ_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNeueWZResponse" />
  </wsdl:message>
  <wsdl:message name="IEichsoftwareWebservice_SchreibeVerbindungsprotokoll_InputMessage">
    <wsdl:part name="parameters" element="tns:SchreibeVerbindungsprotokoll" />
  </wsdl:message>
  <wsdl:message name="IEichsoftwareWebservice_SchreibeVerbindungsprotokoll_OutputMessage">
    <wsdl:part name="parameters" element="tns:SchreibeVerbindungsprotokollResponse" />
  </wsdl:message>
  <wsdl:message name="IEichsoftwareWebservice_GetNeuesAWG_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNeuesAWG" />
  </wsdl:message>
  <wsdl:message name="IEichsoftwareWebservice_GetNeuesAWG_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNeuesAWGResponse" />
  </wsdl:message>
  <wsdl:message name="IEichsoftwareWebservice_AddEichmarkenverwaltung_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEichmarkenverwaltung" />
  </wsdl:message>
  <wsdl:message name="IEichsoftwareWebservice_AddEichmarkenverwaltung_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEichmarkenverwaltungResponse" />
  </wsdl:message>
  <wsdl:message name="IEichsoftwareWebservice_AddEichprozess_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEichprozess" />
  </wsdl:message>
  <wsdl:message name="IEichsoftwareWebservice_AddEichprozess_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEichprozessResponse" />
  </wsdl:message>
  <wsdl:message name="IEichsoftwareWebservice_GetAlleEichprozesse_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAlleEichprozesse" />
  </wsdl:message>
  <wsdl:message name="IEichsoftwareWebservice_GetAlleEichprozesse_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAlleEichprozesseResponse" />
  </wsdl:message>
  <wsdl:message name="IEichsoftwareWebservice_GetAlleEichprozesseImZeitraum_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAlleEichprozesseImZeitraum" />
  </wsdl:message>
  <wsdl:message name="IEichsoftwareWebservice_GetAlleEichprozesseImZeitraum_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAlleEichprozesseImZeitraumResponse" />
  </wsdl:message>
  <wsdl:message name="IEichsoftwareWebservice_GetEichProzess_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEichProzess" />
  </wsdl:message>
  <wsdl:message name="IEichsoftwareWebservice_GetEichProzess_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEichProzessResponse" />
  </wsdl:message>
  <wsdl:message name="IEichsoftwareWebservice_SetEichprozessUngueltig_InputMessage">
    <wsdl:part name="parameters" element="tns:SetEichprozessUngueltig" />
  </wsdl:message>
  <wsdl:message name="IEichsoftwareWebservice_SetEichprozessUngueltig_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetEichprozessUngueltigResponse" />
  </wsdl:message>
  <wsdl:message name="IEichsoftwareWebservice_SetEichprozessGenehmight_InputMessage">
    <wsdl:part name="parameters" element="tns:SetEichprozessGenehmight" />
  </wsdl:message>
  <wsdl:message name="IEichsoftwareWebservice_SetEichprozessGenehmight_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetEichprozessGenehmightResponse" />
  </wsdl:message>
  <wsdl:message name="IEichsoftwareWebservice_CheckGueltigkeitEichprozess_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckGueltigkeitEichprozess" />
  </wsdl:message>
  <wsdl:message name="IEichsoftwareWebservice_CheckGueltigkeitEichprozess_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckGueltigkeitEichprozessResponse" />
  </wsdl:message>
  <wsdl:message name="IEichsoftwareWebservice_CheckSperrung_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckSperrung" />
  </wsdl:message>
  <wsdl:message name="IEichsoftwareWebservice_CheckSperrung_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckSperrungResponse" />
  </wsdl:message>
  <wsdl:message name="IEichsoftwareWebservice_SetSperrung_InputMessage">
    <wsdl:part name="parameters" element="tns:SetSperrung" />
  </wsdl:message>
  <wsdl:message name="IEichsoftwareWebservice_SetSperrung_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetSperrungResponse" />
  </wsdl:message>
  <wsdl:message name="IEichsoftwareWebservice_GetFTPCredentials_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFTPCredentials" />
  </wsdl:message>
  <wsdl:message name="IEichsoftwareWebservice_GetFTPCredentials_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFTPCredentialsResponse" />
  </wsdl:message>
  <wsdl:portType name="IEichsoftwareWebservice">
    <wsdl:operation name="PruefeLizenz">
      <wsdl:input wsaw:Action="http://tempuri.org/IEichsoftwareWebservice/PruefeLizenz" message="tns:IEichsoftwareWebservice_PruefeLizenz_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEichsoftwareWebservice/PruefeLizenzResponse" message="tns:IEichsoftwareWebservice_PruefeLizenz_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AktiviereLizenz">
      <wsdl:input wsaw:Action="http://tempuri.org/IEichsoftwareWebservice/AktiviereLizenz" message="tns:IEichsoftwareWebservice_AktiviereLizenz_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEichsoftwareWebservice/AktiviereLizenzResponse" message="tns:IEichsoftwareWebservice_AktiviereLizenz_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PruefeObRHEWALizenz">
      <wsdl:input wsaw:Action="http://tempuri.org/IEichsoftwareWebservice/PruefeObRHEWALizenz" message="tns:IEichsoftwareWebservice_PruefeObRHEWALizenz_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEichsoftwareWebservice/PruefeObRHEWALizenzResponse" message="tns:IEichsoftwareWebservice_PruefeObRHEWALizenz_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNeueWZ">
      <wsdl:input wsaw:Action="http://tempuri.org/IEichsoftwareWebservice/GetNeueWZ" message="tns:IEichsoftwareWebservice_GetNeueWZ_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEichsoftwareWebservice/GetNeueWZResponse" message="tns:IEichsoftwareWebservice_GetNeueWZ_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SchreibeVerbindungsprotokoll">
      <wsdl:input wsaw:Action="http://tempuri.org/IEichsoftwareWebservice/SchreibeVerbindungsprotokoll" message="tns:IEichsoftwareWebservice_SchreibeVerbindungsprotokoll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEichsoftwareWebservice/SchreibeVerbindungsprotokollResponse" message="tns:IEichsoftwareWebservice_SchreibeVerbindungsprotokoll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNeuesAWG">
      <wsdl:input wsaw:Action="http://tempuri.org/IEichsoftwareWebservice/GetNeuesAWG" message="tns:IEichsoftwareWebservice_GetNeuesAWG_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEichsoftwareWebservice/GetNeuesAWGResponse" message="tns:IEichsoftwareWebservice_GetNeuesAWG_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddEichmarkenverwaltung">
      <wsdl:input wsaw:Action="http://tempuri.org/IEichsoftwareWebservice/AddEichmarkenverwaltung" message="tns:IEichsoftwareWebservice_AddEichmarkenverwaltung_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEichsoftwareWebservice/AddEichmarkenverwaltungResponse" message="tns:IEichsoftwareWebservice_AddEichmarkenverwaltung_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddEichprozess">
      <wsdl:input wsaw:Action="http://tempuri.org/IEichsoftwareWebservice/AddEichprozess" message="tns:IEichsoftwareWebservice_AddEichprozess_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEichsoftwareWebservice/AddEichprozessResponse" message="tns:IEichsoftwareWebservice_AddEichprozess_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAlleEichprozesse">
      <wsdl:input wsaw:Action="http://tempuri.org/IEichsoftwareWebservice/GetAlleEichprozesse" message="tns:IEichsoftwareWebservice_GetAlleEichprozesse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEichsoftwareWebservice/GetAlleEichprozesseResponse" message="tns:IEichsoftwareWebservice_GetAlleEichprozesse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAlleEichprozesseImZeitraum">
      <wsdl:input wsaw:Action="http://tempuri.org/IEichsoftwareWebservice/GetAlleEichprozesseImZeitraum" message="tns:IEichsoftwareWebservice_GetAlleEichprozesseImZeitraum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEichsoftwareWebservice/GetAlleEichprozesseImZeitraumResponse" message="tns:IEichsoftwareWebservice_GetAlleEichprozesseImZeitraum_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEichProzess">
      <wsdl:input wsaw:Action="http://tempuri.org/IEichsoftwareWebservice/GetEichProzess" message="tns:IEichsoftwareWebservice_GetEichProzess_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEichsoftwareWebservice/GetEichProzessResponse" message="tns:IEichsoftwareWebservice_GetEichProzess_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetEichprozessUngueltig">
      <wsdl:input wsaw:Action="http://tempuri.org/IEichsoftwareWebservice/SetEichprozessUngueltig" message="tns:IEichsoftwareWebservice_SetEichprozessUngueltig_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEichsoftwareWebservice/SetEichprozessUngueltigResponse" message="tns:IEichsoftwareWebservice_SetEichprozessUngueltig_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetEichprozessGenehmight">
      <wsdl:input wsaw:Action="http://tempuri.org/IEichsoftwareWebservice/SetEichprozessGenehmight" message="tns:IEichsoftwareWebservice_SetEichprozessGenehmight_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEichsoftwareWebservice/SetEichprozessGenehmightResponse" message="tns:IEichsoftwareWebservice_SetEichprozessGenehmight_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckGueltigkeitEichprozess">
      <wsdl:input wsaw:Action="http://tempuri.org/IEichsoftwareWebservice/CheckGueltigkeitEichprozess" message="tns:IEichsoftwareWebservice_CheckGueltigkeitEichprozess_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEichsoftwareWebservice/CheckGueltigkeitEichprozessResponse" message="tns:IEichsoftwareWebservice_CheckGueltigkeitEichprozess_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckSperrung">
      <wsdl:input wsaw:Action="http://tempuri.org/IEichsoftwareWebservice/CheckSperrung" message="tns:IEichsoftwareWebservice_CheckSperrung_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEichsoftwareWebservice/CheckSperrungResponse" message="tns:IEichsoftwareWebservice_CheckSperrung_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetSperrung">
      <wsdl:input wsaw:Action="http://tempuri.org/IEichsoftwareWebservice/SetSperrung" message="tns:IEichsoftwareWebservice_SetSperrung_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEichsoftwareWebservice/SetSperrungResponse" message="tns:IEichsoftwareWebservice_SetSperrung_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFTPCredentials">
      <wsdl:input wsaw:Action="http://tempuri.org/IEichsoftwareWebservice/GetFTPCredentials" message="tns:IEichsoftwareWebservice_GetFTPCredentials_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEichsoftwareWebservice/GetFTPCredentialsResponse" message="tns:IEichsoftwareWebservice_GetFTPCredentials_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="basicHttpBinding" type="tns:IEichsoftwareWebservice">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PruefeLizenz">
      <soap:operation soapAction="http://tempuri.org/IEichsoftwareWebservice/PruefeLizenz" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AktiviereLizenz">
      <soap:operation soapAction="http://tempuri.org/IEichsoftwareWebservice/AktiviereLizenz" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PruefeObRHEWALizenz">
      <soap:operation soapAction="http://tempuri.org/IEichsoftwareWebservice/PruefeObRHEWALizenz" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNeueWZ">
      <soap:operation soapAction="http://tempuri.org/IEichsoftwareWebservice/GetNeueWZ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SchreibeVerbindungsprotokoll">
      <soap:operation soapAction="http://tempuri.org/IEichsoftwareWebservice/SchreibeVerbindungsprotokoll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNeuesAWG">
      <soap:operation soapAction="http://tempuri.org/IEichsoftwareWebservice/GetNeuesAWG" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEichmarkenverwaltung">
      <soap:operation soapAction="http://tempuri.org/IEichsoftwareWebservice/AddEichmarkenverwaltung" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEichprozess">
      <soap:operation soapAction="http://tempuri.org/IEichsoftwareWebservice/AddEichprozess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAlleEichprozesse">
      <soap:operation soapAction="http://tempuri.org/IEichsoftwareWebservice/GetAlleEichprozesse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAlleEichprozesseImZeitraum">
      <soap:operation soapAction="http://tempuri.org/IEichsoftwareWebservice/GetAlleEichprozesseImZeitraum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEichProzess">
      <soap:operation soapAction="http://tempuri.org/IEichsoftwareWebservice/GetEichProzess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetEichprozessUngueltig">
      <soap:operation soapAction="http://tempuri.org/IEichsoftwareWebservice/SetEichprozessUngueltig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetEichprozessGenehmight">
      <soap:operation soapAction="http://tempuri.org/IEichsoftwareWebservice/SetEichprozessGenehmight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckGueltigkeitEichprozess">
      <soap:operation soapAction="http://tempuri.org/IEichsoftwareWebservice/CheckGueltigkeitEichprozess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckSperrung">
      <soap:operation soapAction="http://tempuri.org/IEichsoftwareWebservice/CheckSperrung" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSperrung">
      <soap:operation soapAction="http://tempuri.org/IEichsoftwareWebservice/SetSperrung" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFTPCredentials">
      <soap:operation soapAction="http://tempuri.org/IEichsoftwareWebservice/GetFTPCredentials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EichsoftwareWebservice">
    <wsdl:port name="basicHttpBinding" binding="tns:basicHttpBinding">
      <soap:address location="http://win7mobdev01.bitworkgmbh.local:12000/RhewaHerstellerersteichung/EichsoftwareWebservice.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>