EichsoftwareClient/Service References/EichsoftwareWebservice/EichsoftwareWebservice2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://win7mobdev01.bitworkgmbh.local:12000/RhewaHerstellerersteichung/EichsoftwareWebservice.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EichsoftwareWebservice" />
  <xs:element name="Test">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PruefeLizenz">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HEKennung" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Lizenzschluessel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="WindowsUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Domainname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Computername" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PruefeLizenzResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PruefeLizenzResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLizenzdaten">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HEKennung" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Lizenzschluessel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="WindowsUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Domainname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Computername" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLizenzdatenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EichsoftwareWebservice" minOccurs="0" name="GetLizenzdatenResult" nillable="true" type="q1:clsLizenzdaten" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AktiviereLizenz">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HEKennung" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Lizenzschluessel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="WindowsUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Domainname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Computername" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AktiviereLizenzResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AktiviereLizenzResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PruefeObRHEWALizenz">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HEKennung" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Lizenzschluessel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="WindowsUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Domainname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Computername" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PruefeObRHEWALizenzResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PruefeObRHEWALizenzResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNeueWZ">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HEKennung" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Lizenzschluessel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LetztesUpdate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="WindowsUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Domainname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Computername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SyncAllesSeit" type="xs:dateTime" />
        <xs:element minOccurs="0" name="SyncAllesBis" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNeueWZResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EichsoftwareWebservice" minOccurs="0" name="GetNeueWZResult" nillable="true" type="q2:ArrayOfServerLookup_Waegezelle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SchreibeVerbindungsprotokoll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Lizenzschluessel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="WindowsUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Domainname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Computername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Aktivitaet" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SchreibeVerbindungsprotokollResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNeuesAWG">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HEKennung" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Lizenzschluessel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LetztesUpdate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="WindowsUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Domainname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Computername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SyncAllesSeit" type="xs:dateTime" />
        <xs:element minOccurs="0" name="SyncAllesBis" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNeuesAWGResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EichsoftwareWebservice" minOccurs="0" name="GetNeuesAWGResult" nillable="true" type="q3:ArrayOfServerLookup_Auswertegeraet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEichmarkenverwaltung">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HEKennung" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Lizenzschluessel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BenutzerFK" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AnzahlBenannteStelle" type="xs:int" />
        <xs:element minOccurs="0" name="AnzahlEichsiegel13x13" type="xs:int" />
        <xs:element minOccurs="0" name="AnzahlEichsiegelRund" type="xs:int" />
        <xs:element minOccurs="0" name="AnzahlHinweismarke" type="xs:int" />
        <xs:element minOccurs="0" name="AnzahlGruenesM" type="xs:int" />
        <xs:element minOccurs="0" name="AnzahlCE" type="xs:int" />
        <xs:element minOccurs="0" name="AnzahlCE2016" type="xs:int" />
        <xs:element minOccurs="0" name="WindowsUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Domainname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Computername" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEichmarkenverwaltungResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddEichmarkenverwaltungResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEichprozess">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HEKennung" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Lizenzschluessel" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EichsoftwareWebservice" minOccurs="0" name="pObjEichprozess" nillable="true" type="q4:ServerEichprozess" />
        <xs:element minOccurs="0" name="WindowsUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Domainname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Computername" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEichprozessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddEichprozessResult" type="xs:boolean" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EichsoftwareWebservice" minOccurs="0" name="pObjEichprozess" nillable="true" type="q5:ServerEichprozess" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWaegezelle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HEKennung" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Lizenzschluessel" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/EichsoftwareWebservice" minOccurs="0" name="pObjWZ" nillable="true" type="q6:ServerLookup_Waegezelle" />
        <xs:element minOccurs="0" name="WindowsUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Domainname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Computername" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWaegezelleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddWaegezelleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStandardwaagen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HEKennung" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Lizenzschluessel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="WindowsUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Domainname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Computername" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStandardwaagenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/EichsoftwareWebservice" minOccurs="0" name="GetStandardwaagenResult" nillable="true" type="q7:ArrayOfclsEichprozessFuerAuswahlliste" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlleEichprozesse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HEKennung" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Lizenzschluessel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="WindowsUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Domainname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Computername" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlleEichprozesseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/EichsoftwareWebservice" minOccurs="0" name="GetAlleEichprozesseResult" nillable="true" type="q8:ArrayOfclsEichprozessFuerAuswahlliste" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlleEichprozesseNachUploadMonat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HEKennung" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Lizenzschluessel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="WindowsUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Domainname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Computername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UploadjahrVon" type="xs:int" />
        <xs:element minOccurs="0" name="UploadmonatVon" type="xs:int" />
        <xs:element minOccurs="0" name="UploadjahrBis" type="xs:int" />
        <xs:element minOccurs="0" name="UploadmonatBis" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlleEichprozesseNachUploadMonatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/EichsoftwareWebservice" minOccurs="0" name="GetAlleEichprozesseNachUploadMonatResult" nillable="true" type="q9:ArrayOfclsEichprozessFuerAuswahlliste" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlleEichprozesseImZeitraum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HEKennung" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Lizenzschluessel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="WindowsUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Domainname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Computername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SyncAllesSeit" type="xs:dateTime" />
        <xs:element minOccurs="0" name="SyncAllesBis" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlleEichprozesseImZeitraumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/EichsoftwareWebservice" minOccurs="0" name="GetAlleEichprozesseImZeitraumResult" nillable="true" type="q10:ArrayOfServerEichprozess" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEichProzess">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HEKennung" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Lizenzschluessel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Vorgangsnummer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="WindowsUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Domainname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Computername" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEichProzessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/EichsoftwareWebservice" minOccurs="0" name="GetEichProzessResult" nillable="true" type="q11:ServerEichprozess" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetEichprozessUngueltig">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HEKennung" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Lizenzschluessel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Vorgangsnummer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="WindowsUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Domainname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Computername" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetEichprozessUngueltigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetEichprozessUngueltigResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetEichprozessGenehmight">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HEKennung" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Lizenzschluessel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Vorgangsnummer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="WindowsUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Domainname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Computername" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetEichprozessGenehmightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetEichprozessGenehmightResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckGueltigkeitEichprozess">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HEKennung" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Lizenzschluessel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Vorgangsnummer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="WindowsUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Domainname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Computername" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckGueltigkeitEichprozessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckGueltigkeitEichprozessResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckSperrung">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HEKennung" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Lizenzschluessel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Vorgangsnummer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="WindowsUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Domainname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Computername" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckSperrungResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckSperrungResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSperrung">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bolSperren" type="xs:boolean" />
        <xs:element minOccurs="0" name="HEKennung" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Lizenzschluessel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Vorgangsnummer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="WindowsUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Domainname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Computername" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSperrungResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetSperrungResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFTPCredentials">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HEKennung" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Lizenzschluessel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Vorgangsnummer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="WindowsUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Domainname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Computername" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFTPCredentialsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/EichsoftwareWebservice" minOccurs="0" name="GetFTPCredentialsResult" nillable="true" type="q12:clsServerFTPDaten" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>